* { box-sizing: border-box; }
body{background-color: #E9967A;}
#left-side {
  border: blue thin solid;
  width: 33.33333%;
  float: left;
}

#right-side {
  border: blue thin solid;
  width: 66.66666%;
  float: left;
}

.card {
  width: 45%;
  border: thin solid #dadada;
  float: left;
  margin: 2.5%;
}

.card img {
  width: 90%;
  text-align: center;
}

.card button {
  float: right;
  padding: 5%;
  margin: 5%;

}


.item {
  float: left;
   border: thin solid blue;
   text-align: center;
   width: 150px;

}

#menu {
  border: thin solid black;
}

#menu:after {
  content: "";
  display: table;
  clear: both;
}

.subitem {
  border: thin solid red;
  width: 50px;
  text-align: center;

}

.submenu { display: none;}

.item:hover .submenu {
    display: block;
    position: absolute;
    width: auto;
}
.button{
      text-decoration: none;
      padding: 10px;
      font-weight: 600;
      font-size: 20px;
      color: #ffff07;
      background-color: #1883ba;
      border-radius: 6px;
      border: 9px solid  #e74c3c;
        display: table;
}
.izquierda{

}
